{{ docType() }}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}zf2do{% endblock title %}
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}{% endblock meta %}

        <link href="{{ basePath() }}/css/marx.min.css" media="screen" rel="stylesheet" type="text/css">
        <link href="{{ basePath() }}/css/style.css" media="screen" rel="stylesheet" type="text/css">
        {% block style %}{% endblock style %}

        {% block script %}{% endblock script %}
    </head>
    <body>
        <main>
            <h1><small>zf</small>2do</h1>

            {% block content %}{% endblock content %}
        </main>
    </body>
</html>
