{% extends 'layout/layout.twig' %}

{% block content %}
    {{ form(form) }}

    <section>
        <ol>
            {% for item in todos %}
                <li>
                    {{ item.task }}
                    {% if item.done %}
                        <span class="done">Done!</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    </section>
{% endblock content %}
